In [1]:
"{} {}".format(52,273)
"{} {}".format(52, type(273))
#"{}".format(52,273)

"52 <class 'int'>"

In [2]:
a=input("> 1번째 숫자: ")
b=input("> 2번째 숫자: ")
print()

print("{} + {} = {}".format(a,b,int(a)+int(b)))

1 + 2 = 3

In [3]:
a=input("> 1번째 숫자: ")
b=input("> 2번째 숫자: ")
print()

print("{} + {} = {}".format(a,b,a+b))

1 + 2 = 12

In [4]:
"3+4 = " + str(3+4)

'3+4 = 7'

4-2 딕셔너리와 반복문

In [11]:
pets = [
    {"name": "구름", "age":5},
    {"name": "초코", "age": 1},
    {"name": "아지", "age": 7}
]

for pet in pets:
    print(pet["name"],pet["age"],"살")

구름 5 살
초코 1 살
아지 7 살

In [21]:
print(pet['name'])

아지

In [22]:
numbers = [1,2,3,4,5,6,7,8,9,1,2,1]
counter = {}

for number in numbers:
    if number in counter:
        counter[number]+= 1
    else: counter[number]=1

print(counter)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

In [29]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key])is dict:
        for small_key in character[key]:
            print(small_key, ":", character[key][small_key])
    elif type(character[key])is list:
        for item in character[key]:
            print(key, ":", item)
    else:
        print(key, ":", character[key])

name : 기사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

4-3. 범위자료형과 while반복문

In [1]:
output = ""

for i in range(1,10):
    for j in range(0, i):
        output += "*"
    output += "\n"
    
print(output)

*
**
***
****
*****
******
*******
********
*********

In [3]:
output = ""

for i in range(1,15):
    for j in range(14, i, -1):
        output += ' '
    for k in range(0,2*i -1):
        output += '*'
    output += '\n'
    
    
print(output)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

In [5]:
len('***************************')

27

In [10]:

for i in range(3,9+1,3):
    print(i)

3
6
9

In [30]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0,len(key_list)):
    character[key_list[i]] = value_list[i]


# 최종 출력
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [ ]:
for i in len(key_list):
    character[key_list] = value_list[i]
    

# 최종 출력
print(character)

In [19]:
current = 0
a=0
b=0

for i in range(1,100//2+1):
    j= 100-i
    max_value = i*j
    if max_value < current:
        a = i
        b = j 
        max_value = current
    
print(max_value)

2500