#1. [For, key, dict] 게임캐릭터 특징 출력

출력 :

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

** 주의 **
else는 바로 위 If 와 세트. 

if문이 여러개이면 앞에 if문에 걸렸더라도 else에 걸릴수 있다

In [ ]:

character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

In [404]:

character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(f"{key} : {character[key][small_key]}")
    elif type(character[key]) is list:
        for item in character[key]:
            print(f"{key} : {item}")
    else : 
        print(f"{key} : {character[key]}")

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [364]:

character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(f"{key} : {character[key][small_key]}")
    elif type(character[key]) is list :
        for i in character[key]:
            print(f"{key} : {i}")
    else : print(f"{key} : {character[key]}")

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [360]:

character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(key, ":", character[key][small_key]) 
            
    elif type(character[key]) is list:
        for i in character[key]:
            print(key,":",i)
    else : print(key,":", character[key])

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [319]:

character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(f"{key} :{character[key][small_key]} ")
            
    elif type(character[key]) is list:
        for i in character[key]:
            print(f"{key} : {i}")
    
    else: 
        print(f"{key} : {character[key]}")

name : 기사
level : 12
items :불꽃의 검
items :풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [234]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(f"{key} : {character[key][small_key]}")
    elif type(character[key]) is list:
        for item in character[key]:
            print(f"{key} : {item}")
    else : print(f"{key} : {character[key]}")

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [183]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict :
        # print("A")
        for small_key in character[key]:
            print(f"{key} : {character[key][small_key]}")
    elif type(character[key]) is list :
        for item in character[key]:
            print(f"{key} : {item}")
    else :
        print(f"{key} : {character[key]}")

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [112]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(small_key,":", character[key][small_key])
    elif type(character[key]) is list:
        for item in character[key]:
            print(key, ":", item)
    else : print(key, character[key])

name 기사
level 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [113]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(key, ":", character[key][small_key])
            
    elif type(character[key]) is list:
        for item in character[key]:
            print(key, ":", item)
            
    else : print(key, ":", character[key])

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [114]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character :
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(key, ":", character[key][small_key])
    elif type(character[key]) is list:
        for item in character[key]:
            print(key, ":", item)
    else :
        print(key, ":", character[key])

name : 기사
level : 12
items : 불꽃의 검
items : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [30]:
character = {
    "name" : "기사",
    "level" : 12,
    "items": {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill": ["베기", "세게 베기", "아주 세게 베기"]
}

for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(small_key, ":", character[key][small_key])
    elif type(character[key]) is list:
            for item in character[key]:
                print(key, ":", item)
    else : 
        print(key, ":", character[key])

name : 기사
level : 12
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [31]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]

# 최종 출력
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

#1-1) 
출력:

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [ ]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

In [366]:

key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [362]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]
    
character

dict

In [292]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]
    
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [235]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]
    
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [185]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]
    
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [119]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]
    
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [118]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i] 

character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [32]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0, len(key_list)):
    character[key_list[i]] = value_list[i]
    
    
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [33]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(0,len(key_list)):
    character[key_list[i]] = value_list[i]
    # character[key] = value_list[key]
    
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

✅#2. 리스트 평탄화

In [ ]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

In [371]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for item in a:
    if type(item) is list:
        for j in item :
            output.append(j)
    else: output.append(item)
    
output

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [290]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in a :
    if type(i) is list:
        for j in i :
            output.append(j)
    else: output.append(i)
    
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [236]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in a:
    if type(i) is list:
        for j in i :
            output.append(j)
    else: output.append(i)
    
output

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [188]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in a :
    if type(i) is list:
        for j in i :
            output.append(j)
    else : output.append(i)
    
# print(output) 
output

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in range(0, len(a)):
    if type(a[i]) is list:
        for j in a[i]:
            output.append(j)
    else : output.append(a[i])
    
output

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in range(0, len(a)):
    if type(a[i]) is list:
        for j in a[i]:
            output.append(j)
    else :
        output.append(a[i])


output

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:

# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in a:
    if type(i)==list:
        for j in i:
            output.append(j)
    else :
        output.append(i)

print(f"{a}를 평탄화하면")
print(f"{output}입니다")

[1, 2, [3, 4], 5, [6, 7], [8, 9]]를 평탄화하면
[1, 2, 3, 4, 5, 6, 7, 8, 9]입니다

In [36]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for item in a :
    if type(item) == list :
        for j in item:
            output.append(j)
    else : 
        output.append(item)
        

output

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#3. 염기서열 출력(한개씩)
각 c, t, a, g, 가 몇개인지 출력하세요

c 의 갯수 : 9개
t 의 갯수 : 9개
a 의 갯수 : 9개
g 의 갯수 : 6개

In [ ]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"

In [375]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {'c':0, 't':0, 'g':0, 'a':0}
for nucleo in nucleos:
    if nucleo in counter:
        counter[nucleo] += 1
    else: counter[nucleo] += 1
    
counter

{'c': 9, 't': 9, 'g': 6, 'a': 9}

In [356]:
nucleos = "ctacaatgtcagtatacccattgcattagccggkk"
counter = {
    'c':0,
    'g':0,
    't':0,
    'a':0
}

for nucleo in nucleos:
    if nucleo in counter :
        counter[nucleo] += 1
    else : 
        counter[nucleo] = 1
        
counter

{'c': 9, 'g': 6, 't': 9, 'a': 9, 'k': 2}

In [354]:
nucleos = "ctacaatgtcagtatacccattgcattagccggkk"
counter = {
    'c' : 0,
    't' : 0,
    'a' : 0,
    'g' : 0
}

for item in nucleos:
    if item not in counter:
        counter[item] = 0
    counter[item] += 1
    
counter

{'c': 9, 't': 9, 'a': 9, 'g': 6, 'k': 2}

In [237]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter ={
    "c":0,
    "t" : 0,
    "g" : 0,
    "a" : 0
}

for nucleo in nucleos:
    if nucleo in counter:
        counter[nucleo] += 1
    else :
        counter[nucleo] = 1
    
    
counter

{'c': 9, 't': 9, 'g': 6, 'a': 9}

In [190]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {
    'c' : 0,
    't' : 0,
    'a' : 0,
    'g' : 0
}

for nucleo in nucleos:
    if nucleo in counter:
        counter[nucleo] += 1
    else : 
        counter[nucleo] = 0
    
counter
for i in counter :
    print(f"{i}의 갯수 : {counter[i]}개")

c의 갯수 : 9개
t의 갯수 : 9개
a의 갯수 : 9개
g의 갯수 : 6개

In [127]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {
    "c" : 0,
    "t" : 0,
    "g" : 0,
    "a" : 0
}

for nucleo in nucleos:
    if nucleo in counter:
        counter[nucleo] += 1
    else:
        counter[nucleo] = 0


counter
for i in counter:
    print(f"{i}의 개수 : {counter[i]}개")

c의 개수 : 9개
t의 개수 : 9개
g의 개수 : 6개
a의 개수 : 9개

In [37]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {
    'c' : 0,
    't' : 0,
    'a' : 0,
    'g' : 0
}
for nucleo in nucleos:
    if nucleo in counter:
        counter[nucleo] += 1
    else : counter[nucleo] = 0
    
counter

for item in counter :
    print(f"{item} : {counter[item]}개")

c : 9개
t : 9개
a : 9개
g : 6개

In [38]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {
    'c' : 0,
    't' : 0,
    'a' : 0,
    'g' : 0
}
#print(len(nucleos))
for nucleo in nucleos:
    counter[nucleo]+=1

    # if nucleo in counter['nucleo']:
    #         print(nucleo)

    # else : counter[nucleo] = 0

counter

{'c': 9, 't': 9, 'a': 9, 'g': 6}

In [39]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {
    'c' : 0,
    't' : 0,
    'a' : 0,
    'g' : 0
}

for nucleo in nucleos :
    counter[nucleo] += 1
    
for key in counter :
    print(f"{key} 의 갯수 : {counter[key]}개")
print(counter)

c 의 갯수 : 9개
t 의 갯수 : 9개
a 의 갯수 : 9개
g 의 갯수 : 6개
{'c': 9, 't': 9, 'a': 9, 'g': 6}

#4. 염기서열의 코돈 출력(3개씩 나오는 것을 코돈)

{'cta': 1, 'caa': 1, 'tgt': 1, 'cag': 1, 'tat': 1, 'acc': 1, 'cat': 1, 'tgc': 1, 'att': 1, 'agc': 1, 'cgg': 1}

In [376]:
nucleos = "ctactacaatgtcagtatacccattgcattagccggcgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if codon not in counter :
        counter[codon] = 1
    else : 
        counter[codon] += 1
        
        
counter

{'cta': 2,
 'caa': 1,
 'tgt': 1,
 'cag': 1,
 'tat': 1,
 'acc': 1,
 'cat': 1,
 'tgc': 1,
 'att': 1,
 'agc': 1,
 'cgg': 2}

In [352]:
nucleos = "ctactacaatgtcagtatacccattgcattagccggcgg"
counter = {}

for i in range(0, len(nucleos),3):
    codon = nucleos[i:i+3]
    if codon not in counter:
        counter[codon] = 1
    else:
        counter[codon] += 1


for item in counter:
    print(f"{item}의 갯수 : {counter[item]}")

cta의 갯수 : 2
caa의 갯수 : 1
tgt의 갯수 : 1
cag의 갯수 : 1
tat의 갯수 : 1
acc의 갯수 : 1
cat의 갯수 : 1
tgc의 갯수 : 1
att의 갯수 : 1
agc의 갯수 : 1
cgg의 갯수 : 2

In [285]:
nucleos = "ctactacaatgtcagtatacccattgcattagccggcgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if codon in counter:
        counter[codon] += 1
    else :
        counter[codon] = 1

counter

for item in counter:
    print(f"{item}의 갯수 : {counter[item]}")

cta의 갯수 : 2
caa의 갯수 : 1
tgt의 갯수 : 1
cag의 갯수 : 1
tat의 갯수 : 1
acc의 갯수 : 1
cat의 갯수 : 1
tgc의 갯수 : 1
att의 갯수 : 1
agc의 갯수 : 1
cgg의 갯수 : 2

In [239]:
nucleos = "ctactacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if codon not in counter:
        counter[codon] = 0
    counter[codon] += 1
    

counter

{'cta': 2,
 'caa': 1,
 'tgt': 1,
 'cag': 1,
 'tat': 1,
 'acc': 1,
 'cat': 1,
 'tgc': 1,
 'att': 1,
 'agc': 1,
 'cgg': 1}

In [191]:
nucleos = "ctactacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if codon not in counter :
        counter[codon] = 1
    else : counter[codon] += 1
    
counter

{'cta': 2,
 'caa': 1,
 'tgt': 1,
 'cag': 1,
 'tat': 1,
 'acc': 1,
 'cat': 1,
 'tgc': 1,
 'att': 1,
 'agc': 1,
 'cgg': 1}

In [148]:
nucleos = "ctactacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if codon not in counter:
        counter[codon] = 1
    else : 
        counter[codon] += 1

counter

for item in counter:
    print(f"{item} : {counter[item]}개")

cta : 2개
caa : 1개
tgt : 1개
cag : 1개
tat : 1개
acc : 1개
cat : 1개
tgc : 1개
att : 1개
agc : 1개
cgg : 1개

In [145]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if codon not in counter :
        counter[codon] = 1
    else:
        counter[codon] += 1
        
print(counter)

{'cta': 1, 'caa': 1, 'tgt': 1, 'cag': 1, 'tat': 1, 'acc': 1, 'cat': 1, 'tgc': 1, 'att': 1, 'agc': 1, 'cgg': 1}

In [51]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if codon not in counter:
        counter[codon] = 1
    else :
        counter[codon] += 1
        
print(counter)

for key in counter:
    print(f"{key} : {counter[key]}개")

{'cta': 1, 'caa': 1, 'tgt': 1, 'cag': 1, 'tat': 1, 'acc': 1, 'cat': 1, 'tgc': 1, 'att': 1, 'agc': 1, 'cgg': 1}
cta : 1개
caa : 1개
tgt : 1개
cag : 1개
tat : 1개
acc : 1개
cat : 1개
tgc : 1개
att : 1개
agc : 1개
cgg : 1개

In [ ]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos), 3):
    codon = nucleos[i:i+3]
    if len(codon) == 3:
        if codon not in counter:
            counter[codon] = 0
        counter[codon] += 1
    
print(counter)

In [ ]:
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos),3):
    codon = nucleos[i:i+3]
    # print(codon)
    if len(codon) ==3 :
        if codon not in counter:
            counter[codon] = 0
        counter[codon] += 1
    
   
print(counter)

In [ ]:

counter.clear()
nucleos = "ctacaatgtcagtatacccattgcattagccgg"
counter = {}

for i in range(0, len(nucleos),3):
    codon = nucleos[i:i+3]
    if len(codon)==3:
        if codon not in counter:
            counter[codon] = 0
        counter[codon] += 1
        
        
print(counter)

In [ ]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in range(0, len(a)):
    if type(a[i])is list:
        for j in a[i]:
            output.append(j)
    else: output.append(a[i])
    #print(a[i])
print(output)

In [ ]:
# 리스트 평탄화
a = [1,2,[3,4],5,[6,7],[8,9]]
output = []

for i in a:
    if type(i) is list:
        for j in i :
            output.append(j)
    else : output.append(i)

print(output)

#5. 식탁에 앉을사람의 경우의 수(재귀함수)

In [ ]:
sit_min = 2
sit_max = 10
total = 100
memo ={}

def solution(left, sitted) :
    key = str([left, sitted])
    if key in memo :
        return memo[key]
    if left <0 :
        return 0
    if left ==0 :
        return 1
    # 재귀처리
    count = 0
    for i in range(sitted, sit_max+1):
        count += solution(left -i, i)
    # 메모화 처리
    memo[key] = count
    # 종료
    return count
print(solution(total, sit_min))

#6. 리스트 평탄화2 (재귀함수)

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

In [402]:
def flaten(data):
    output = []
    for item in data:
        if type(data) is list:
            output += flatten()
        else : output.append(item)
    return output


example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [378]:
def flatten(data):
    output =[]
    for item in data :
        if type(item) is list:
            output += flatten(item)
        else : output.append(item)
    return output

example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [349]:
def flatten(data):
    output = []
    for item in data:
        if type(item) is list:
            output += flatten(item)
        else: output.append(item)
    return output

example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [347]:
def flatten(data):
    output = []
    for item in data:
        if type(item) is list:
            output += flatten(item)
        else :
            output.append(item)
    return output
example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [245]:
def flatten(data):
    output = []
    for item in data:
        if type(item) is list:
            output += flatten(item)
        else : output.append(item)
    return output

print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [195]:
def flatten(data):
    output = []
    
    for item in data:
        if type(item) is list:
            output += flatten(item)
        else :
            output.append(item)
    return output
    
example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [151]:
def flatten(data):
    output=[]
    for item in data:
        if type(item) is list:
            output += flatten(item)
        else : output.append(item)
    return output

example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
def flatten(data):
    output = []
    for item in data:
        if type(item) is list:
            output += flatten(item)
        else: output.append(item)
    return output


example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
def flatten(data):
    output = []
    for key in data :
        if type(key) is list :
            output += flatten(key)
        else :
            output.append(key)
    return output
    
    
    
    
example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output

example = [[1,2,3], [4,[5,6]],7,[8,9]]
print("원본 : ", example)
print("변환 : ", flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
변환 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def flatten(data):
    output = []
    for item in data:
        if type(item) == list :
            output += flatten(item)
        else : output.append(item)
    return output
        
example = [[1,2,3], [4,[5,6,[1,1]]],7,[8,9]]

print(flatten(example))

In [ ]:
def flatten(data):
    output = []
    for item in data:
        if type(item) == list :
            output+=flatten(item)
        else :
            output.append(item)
    return output

example = [[1,2,3], [4,[5,6,[1,1]]],7,[8,9]]

print("원본: ", example)
print("평탄화: ", flatten(example))

#7. 파일 내용 랜덤함수로 채우기

In [ ]:
import random
hangeuls = "기니디리미비시이지치키티히"

In [343]:
import random
hangeuls = "기니디리미비시이지치키티히"

with open("random.txt", 'w') as file:
    for i in range(10):
        name = random.choice(hangeuls)+random.choice(hangeuls)
        height = random.randrange(150,200)
        weight = random.randrange(100,200)
        file.write('{},{},{}\n'.format(name,height,weight))

In [279]:
import random
hangeuls = "기니디리미비시이지치키티히"

with open('namae03.txt', 'w') as file:
    name = random.choice(hangeuls) + random.choice(hangeuls)
    weight = random.randrange(80,140)
    height = random.randrange(155, 180)
    file.write("{}{}{}\n".format(name,weight,height))

In [247]:
import random
hangeul = "가나다라마바사"

with open('namae02.txt','w') as file:
    for i in range(10):
        name = random.choice(hangeul) + random.choice(hangeul)
        weight = random.randrange(50,100)
        height = random.randrange(150,200)
        file.write("{},{},{}\n".format(name,weight,height))

In [205]:
import random
hangeul = list("가나다라마바사아자타파타카하에헤")
with open("namae.txt",'w') as file:
    for i in range(22):
        name = random.choice(hangeul) + random.choice(hangeul) 
        # hangeul 은 위에 한글에 있는 리스트 목록 에서 고르는거, 'hangeul'은 h,a,n...이것 중 고르는 것!
        height = random.randrange(150,200)
        weight = random.randrange(50,100)
        file.write("{},{},{}\n".format(name, height, weight))

In [152]:
import random
hangeuls = list("가나다라마바사아자차카타파하기교니누네노디두데도리루레로미무메모비부베보")
with open("name.txt",'w') as file:
    for i in range(10):
        name = random.choice('hangeuls') + random.choice('hangeuls')
        weight = random.randrange(40,100)
        height = random.randrange(150,200)
        file.write("{},{},{}\n".format(name,weight,height))

In [86]:
import random
hangeuls = list("가나다라마바사아자차카타파하기교니누네노디두데도리루레로미무메모비부베보")
#파일을 열고, w옵션을 준다
with open("name.txt", "w") as file:
    for i in range(10):
        name = random.choice(hangeuls)+random.choice(hangeuls)
        weight = random.randrange(50,100)
        height = random.randrange(150,200)
        file.write("{},{},{}\n".format(name,weight,height))

In [69]:
import random
hangeuls = list("가나다라마바사아자타카타파하")
with open("info03.txt","w") as file:
    for i in range(10):
        name = random.choice(hangeuls) + random.choice(hangeuls)
        height = random.randrange(140, 200)
        weight = random.randrange(40,150)
        file.write("{},{},{}\n".format(name,height,weight))

In [202]:
import random
hangeuls = list("가나다라마바사아자타카타파하")
with open("info.txt","w") as file:
    for i in range(10):
        name = random.choice(hangeuls) + random.choice(hangeuls)
        weight = random.randrange(40,100)
        height = random.randrange(150,190)
        file.write("{},{},{}\n".format(name, weight, height))
             
print(file)

<_io.TextIOWrapper name='info.txt' mode='w' encoding='UTF-8'>

In [203]:
import random
hangeuls = list("가나다라마바사아자타카타파하")
with open("info11.txt","w") as file:
    for i in range(100):
        name = random.choice(hangeuls)+ random.choice(hangeuls)
        weight = random.randrange(40, 100)
        height = random.randrange(140,200) 
        file.write("{},{},{}\n".format(name,weight,height))   
    
    
print(file)

<_io.TextIOWrapper name='info11.txt' mode='w' encoding='UTF-8'>

#8. BMI 판정(파일 읽어오기 등)

<결과>
이름: 하아
몸무게: 58
키: 167
BMI: 0.012920472265537981
결과: 저체중

In [341]:
with open("name.txt", 'r') as file:
    for line in file:
        (name, height, weight) = line.strip().split(",")
        if not name or not height or not weight:
            continue
        else:
              # BMI 공식
            bmi = int(weight)/((int(height)-100) **2)
            result =""
        
            if 25 <=bmi :
                result = "과체중"
            elif 18.5<bmi :
                result = "정상체중"
            else: 
                result = "저체중"
        print(f"{name} : {height}, {weight}, 결과 : {result}")

as : 71, 189, 결과 : 저체중
hg : 70, 157, 결과 : 저체중
ll : 49, 195, 결과 : 저체중
aa : 94, 167, 결과 : 저체중
an : 70, 161, 결과 : 저체중
gl : 78, 172, 결과 : 저체중
se : 92, 152, 결과 : 저체중
hh : 89, 186, 결과 : 저체중
aa : 73, 161, 결과 : 저체중
sl : 87, 184, 결과 : 저체중

In [277]:
with open('namae.txt', 'r') as file:
    for line in file:
        (name, height, weight) = line.strip().split(",")
        
        if not name or not height or not weight:
            continue
        else:
              # BMI 공식
            bmi = int(weight)/((int(height)-100) **2)
            result =""
        
            if 25 <=bmi :
                result = "과체중"
            elif 18.5<bmi :
                result = "정상체중"
            else: 
                result = "저체중"
                
        print(f"{name} : {height}, {weight}, 결과 : {result}")

마바 : 169, 91, 결과 : 저체중
가마 : 152, 50, 결과 : 저체중
바타 : 179, 57, 결과 : 저체중
자나 : 160, 62, 결과 : 저체중
라헤 : 175, 95, 결과 : 저체중
하에 : 154, 80, 결과 : 저체중
가다 : 160, 74, 결과 : 저체중
타라 : 178, 73, 결과 : 저체중
아파 : 182, 51, 결과 : 저체중
카다 : 159, 90, 결과 : 저체중
가나 : 174, 90, 결과 : 저체중
마헤 : 184, 73, 결과 : 저체중
가자 : 193, 91, 결과 : 저체중
사자 : 175, 92, 결과 : 저체중
자바 : 174, 68, 결과 : 저체중
가나 : 191, 63, 결과 : 저체중
헤타 : 171, 86, 결과 : 저체중
타하 : 167, 52, 결과 : 저체중
하가 : 167, 60, 결과 : 저체중
사자 : 152, 78, 결과 : 저체중
파타 : 178, 62, 결과 : 저체중
카타 : 179, 87, 결과 : 저체중

In [248]:
with open('namae.txt') as file:
    for line in file:
        (name, weight, height) = line.strip().split(",")
        if not name or not weight or not height:
            continue
        else : 
            # BMI 공식
            bmi = int(weight)/((int(height)-100) **2)
            result =""
        
            if 25 <=bmi :
                result = "과체중"
            elif 18.5<bmi :
                result = "정상체중"
            else: 
                result = "저체중"
            
            print(f"{name} : {weight}, 결과 : {result}")

마바 : 169, 결과 : 저체중
가마 : 152, 결과 : 저체중
바타 : 179, 결과 : 저체중
자나 : 160, 결과 : 저체중
라헤 : 175, 결과 : 저체중
하에 : 154, 결과 : 저체중
가다 : 160, 결과 : 저체중
타라 : 178, 결과 : 저체중
아파 : 182, 결과 : 저체중
카다 : 159, 결과 : 저체중
가나 : 174, 결과 : 저체중
마헤 : 184, 결과 : 저체중
가자 : 193, 결과 : 저체중
사자 : 175, 결과 : 저체중
자바 : 174, 결과 : 저체중
가나 : 191, 결과 : 저체중
헤타 : 171, 결과 : 저체중
타하 : 167, 결과 : 저체중
하가 : 167, 결과 : 저체중
사자 : 152, 결과 : 저체중
파타 : 178, 결과 : 저체중
카타 : 179, 결과 : 저체중

In [208]:
with open('namae.txt') as file:
    for line in file:
        (name, height, weight) = line.strip().split(",")
        if not name or not weight or not height:
            continue
        else : 
            # BMI 공식
            bmi = int(weight)/((int(height)-100) **2)
            result =""
        
            if 25 <=bmi :
                result = "과체중"
            elif 18.5<bmi :
                result = "정상체중"
            else: 
                result = "저체중"
            
            print(f"{name} : {weight}, 결과 : {result}")

마바 : 91, 결과 : 저체중
가마 : 50, 결과 : 저체중
바타 : 57, 결과 : 저체중
자나 : 62, 결과 : 저체중
라헤 : 95, 결과 : 저체중
하에 : 80, 결과 : 저체중
가다 : 74, 결과 : 저체중
타라 : 73, 결과 : 저체중
아파 : 51, 결과 : 저체중
카다 : 90, 결과 : 저체중
가나 : 90, 결과 : 저체중
마헤 : 73, 결과 : 저체중
가자 : 91, 결과 : 저체중
사자 : 92, 결과 : 저체중
자바 : 68, 결과 : 저체중
가나 : 63, 결과 : 저체중
헤타 : 86, 결과 : 저체중
타하 : 52, 결과 : 저체중
하가 : 60, 결과 : 저체중
사자 : 78, 결과 : 저체중
파타 : 62, 결과 : 저체중
카타 : 87, 결과 : 저체중

In [157]:
with open("name.txt",'r') as file:
    for line in file:
        (name, weight, height) = line.strip().split(",")
        if not (name) or not weight or not height:
            continue
        # BMI 공식
        bmi = int(weight)/((int(height)-100) **2)
        result =""
        
        if 25 <=bmi :
            result = "과체중"
        elif 18.5<bmi :
            result = "정상체중"
        else: 
            result = "저체중"
            
        # 내용물 한줄씩 띄워서 쓰기
        print(f"{name} : {weight}, 결과 : {result}")

as : 71, 결과 : 저체중
hg : 70, 결과 : 저체중
ll : 49, 결과 : 저체중
aa : 94, 결과 : 저체중
an : 70, 결과 : 저체중
gl : 78, 결과 : 저체중
se : 92, 결과 : 저체중
hh : 89, 결과 : 저체중
aa : 73, 결과 : 저체중
sl : 87, 결과 : 저체중

In [155]:

#파일 읽어오기 (r) 
with open("name.txt",'r') as file:
    for line in file:
        # (이름, 무게, 키)로 데이터 스플릿
        (name, weight, height) = line.strip().split(",")
        # 아룸, 무게, 키 중에 한개라도 없으면... 건너뛰어
        if not name or not weight or not height: 
            continue
        # BMI 공식
        bmi = int(weight)/((int(height)-100) **2)
        result =""
        
        if 25 <=bmi :
            result = "과체중"
        elif 18.5<bmi :
            result = "정상체중"
        else: 
            result = "저체중"
            
        # 내용물 한줄씩 띄워서 쓰기
        print(f"{name} : {weight}, 결과 : {result} ")     
        print()

as : 71, 결과 : 저체중

hg : 70, 결과 : 저체중

ll : 49, 결과 : 저체중

aa : 94, 결과 : 저체중

an : 70, 결과 : 저체중

gl : 78, 결과 : 저체중

se : 92, 결과 : 저체중

hh : 89, 결과 : 저체중

aa : 73, 결과 : 저체중

sl : 87, 결과 : 저체중

In [76]:
with open("info.txt","r") as file:
    for line in file:
        # (이름, 무게, 키)로 데이터 스플릿
        (name, weight, height) = line.strip().split(",")
        # 아룸, 무게, 키 중에 한개라도 없으면... 건너뛰어
        if not name or not weight or not height: 
            continue 
        # BMI 공식
        bmi = int(weight)/((int(height)-100) **2)
        result =""
        
        if 25 <=bmi :
            result = "과체중"
        elif 18.5<bmi :
            result = "정상체중"
        else: 
            result = "저체중"
            
        # 내용물 한줄씩 띄워서 쓰기
        print(f"{name} : {bmi}, {height} ")     
        print()

바가 : 0.008851895891134892, 187

타자 : 0.0252, 150

하바 : 0.01662049861495845, 157

바타 : 0.008, 175

파나 : 0.0212, 150

하가 : 0.024992818155702385, 159

마나 : 0.02343159486016629, 163

다자 : 0.019440587185082323, 171

나타 : 0.009168388429752067, 188

자라 : 0.011029411764705883, 168

In [ ]:
with open("info.txt","r") as file:
    for line in file:
        # (이름, 무게, 키)로 데이터 스플릿
        
        # 아룸, 무게, 키 중에 한개라도 없으면... 건너뛰어

        # BMI 공식
        bmi = int(weight)/((int(height)-100) **2)
        result =""
        
        if 25 <=bmi :
            result = "과체중"
        elif 18.5<bmi :
            result = "정상체중"
        else: 
            result = "저체중"
            
        # 내용물 한줄씩 띄워서 쓰기
     
        print()

In [278]:
with open("info.txt","r") as file:
    for line in file:
        # (이름, 무게, 키)로 데이터 스플릿
        (name, weight, height) = line.strip().split(",")
        # print(name, weight, height)
        # 이름, 무게, 키 중에 한개라도 없으면... 건너뛰어
        if ((not name) or (not weight) or (not height)):
            continue
        # BMI 공식
        bmi = int(weight)/((int(height)-100) **2)
        result = ""
        
        if 25 <=bmi :
            result = "과체중"
        elif 18.5<bmi :
            result = "정상체중"
        else: 
            result = "저체중"
            
        # 내용물 한줄씩 띄워서 쓰기
        print('\n'.join([
            "이름 : {}",
            "무게 : {}",
            "키 : {}",
            "BMI : {}",
            "결과 : {}"
        ]).format(name, weight, height, bmi, result))
        print()

이름 : 파다
무게 : 58
키 : 167
BMI : 0.012920472265537981
결과 : 저체중

이름 : 가카
무게 : 96
키 : 187
BMI : 0.012683313515655966
결과 : 저체중

이름 : 라파
무게 : 68
키 : 165
BMI : 0.016094674556213016
결과 : 저체중

이름 : 타타
무게 : 53
키 : 169
BMI : 0.011132115101869355
결과 : 저체중

이름 : 파나
무게 : 55
키 : 178
BMI : 0.009040105193951348
결과 : 저체중

이름 : 다다
무게 : 73
키 : 161
BMI : 0.01961838215533459
결과 : 저체중

이름 : 타타
무게 : 94
키 : 154
BMI : 0.03223593964334705
결과 : 저체중

이름 : 자타
무게 : 54
키 : 152
BMI : 0.019970414201183433
결과 : 저체중

이름 : 라타
무게 : 53
키 : 182
BMI : 0.007882212968471148
결과 : 저체중

이름 : 타아
무게 : 68
키 : 176
BMI : 0.011772853185595568
결과 : 저체중

#9. join 

1::2::3::4::5::6

In [ ]:
numbers = [1,2,3,4,5,6]

In [401]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str, numbers)))

1::2::3::4::5::6

In [379]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str, numbers)))

1::2::3::4::5::6

In [333]:
numbers = [1,2,3,4,5,6]
print('::'.join(map(str, numbers)))

1::2::3::4::5::6

In [334]:
hangeul = "봄이와도 설레지 않을 것이고, 여름이 와도"
print("..".join(hangeul))

봄..이..와..도.. ..설..레..지.. ..않..을.. ..것..이..고..,.. ..여..름..이.. ..와..도

In [273]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str,numbers)))

1::2::3::4::5::6

In [249]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str,numbers)))

1::2::3::4::5::6

In [216]:
#num = {"a","b","c"}
num = "I LOVE YOU"
print(":".join(num))

I: :L:O:V:E: :Y:O:U

In [219]:
numbers = ["1","K",3,4,5]
print("::".join(map(str, numbers)))

1::K::3::4::5

In [214]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str,numbers)))

1::2::3::4::5::6

In [213]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str,numbers)))

1::2::3::4::5::6

In [211]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str,numbers)))

1::2::3::4::5::6

In [88]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str,numbers)))

1::2::3::4::5::6

In [92]:
numbers = "야 이기지배야"
print("::".join(numbers))

야:: ::이::기::지::배::야

In [ ]:
numbers = [1,2,3,4,5,6]
print('::'.join(map(str, numbers)))

In [ ]:
numbers = [1,2,3,4,5,6]
print("::".join(map(str, numbers)))

#10. 람다

In [ ]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print()

print("3이상, 7미만 추출하기")
print()

print("# 제곱해서 50 미만 추출하기")
print()

In [400]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x:x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x: 3<=x <7, numbers)))
print()

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x:x**2 < 50, numbers)))
print()

홀수만 추출하기
[1, 3, 5, 7, 9]

3이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7]

In [385]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x: x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x: 3<= x < 7, numbers)))
print()

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x: x**2<50 , numbers)))
print()

홀수만 추출하기
[1, 3, 5, 7, 9]

3이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7]

In [332]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda i: i%2==1, numbers)))

print("3이상, 7미만 추출하기")
print(list(filter(lambda x:3<=x<7, numbers)))

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x:x**2, numbers)))

홀수만 추출하기
[1, 3, 5, 7, 9]
3이상, 7미만 추출하기
[3, 4, 5, 6]
# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [272]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x:x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x: 3<=x<7, numbers)))
print()

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x:x**2<50, numbers)))
print()

홀수만 추출하기
[1, 3, 5, 7, 9]

3이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7]

In [251]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x : x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x : 3<=x<7, numbers)))
print()

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x:x**2 <50, numbers)))
print()

홀수만 추출하기
[1, 3, 5, 7, 9]

3이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7]

In [226]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x:x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x: 3 <= x < 7, numbers)))
print()

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x:x**2 <50, numbers)))
print()

홀수만 추출하기
[1, 3, 5, 7, 9]

3이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7]

In [98]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x:x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x: 3<=x <7, numbers)))
print()

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x: x**2, numbers)))
print()

홀수만 추출하기
[1, 3, 5, 7, 9]

3이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [165]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x:x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x :3 <=x <7, numbers)))
print()

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x: x**2, numbers)))
print()

홀수만 추출하기
[1, 3, 5, 7, 9]

3이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50 미만 추출하기
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print()
print()

print("3이상, 7미만 추출하기")
print()

print("# 제곱해서 50 미만 추출하기")
print()

In [ ]:
numbers = list(range(1,10+1))

print("홀수만 추출하기")
print(list(filter(lambda x:x%2==1, numbers)))
print()

print("3이상, 7미만 추출하기")
print(list(filter(lambda x: 3<= x <7, numbers)))

print("# 제곱해서 50 미만 추출하기")
print(list(filter(lambda x:x**2 <50, numbers)))

#11. 책값 추출하기 (딕셔너리에서 최소, 최대 등 내장함수 쓰기)

In [ ]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")


print("가장 비싼 책")

print("#가격 오름차순으로 정렬")

    
print("#가격 내림차순으로 정렬")

In [397]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key=lambda x:x['가격']))
print()

print("가장 비싼 책")
print(max(books, key=lambda x:x['가격']))

print("#가격 오름차순으로 정렬")
books.sort(key=lambda x:x['가격'])
for book in books:
    print(book)    

print()

print("#가격 내림차순으로 정렬")

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}

가장 비싼 책
{'제목': '혼공파', '가격': 118000}
#가격 오름차순으로 정렬
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼공파', '가격': 118000}

#가격 내림차순으로 정렬

In [391]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key=lambda x:x['가격']))
print()

print("가장 비싼 책")
print(max(books, key=lambda x:x['가격']))
print()

print("#가격 오름차순으로 정렬")
books.sort(key=lambda x:x['가격'])
for book in books:
    print(f"{book['제목']} : {book['가격']}")    
print()

print("#가격 내림차순으로 정렬")
books.sort(key=lambda x:x['가격'], reverse=True)
for book in books:
    print(f"{book['제목']} : {book['가격']}")

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}

가장 비싼 책
{'제목': '혼공파', '가격': 118000}

#가격 오름차순으로 정렬
혼자 공부하는 자바스크립트 : 24000
혼자공부하는 머신러닝+딥러닝 : 26000
혼공파 : 118000

#가격 내림차순으로 정렬
혼공파 : 118000
혼자공부하는 머신러닝+딥러닝 : 26000
혼자 공부하는 자바스크립트 : 24000

In [324]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key=lambda book:book['가격']))

print("가장 비싼 책")
print(max(books, key=lambda book:book['가격']))

print("#가격 오름차순으로 정렬")
books.sort(key=lambda book:book['가격'])
for i in range(0, len(books)):
    print(books[i])
    
print("#가격 내림차순으로 정렬")
books.sort(key=lambda book:book['가격'], reverse=True)
for i in range(0, len(books)):
    print(books[i])

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
가장 비싼 책
{'제목': '혼공파', '가격': 118000}
#가격 오름차순으로 정렬
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼공파', '가격': 118000}
#가격 내림차순으로 정렬
{'제목': '혼공파', '가격': 118000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}

In [265]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key=lambda book:book['가격']))
print()

print("가장 비싼 책")
print(max(books, key=lambda x:x['가격']))
print()

print("#가격 오름차순으로 정렬")
books.sort(key=lambda book:book['가격'])
for book in books:
    print(book)
print()
    
print("#가격 내림차순으로 정렬")
books.sort(key=lambda bok:bok['가격'], reverse=True)
books

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}

가장 비싼 책
{'제목': '혼공파', '가격': 118000}

#가격 오름차순으로 정렬
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼공파', '가격': 118000}

#가격 내림차순으로 정렬

[{'제목': '혼공파', '가격': 118000},
 {'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000},
 {'제목': '혼자 공부하는 자바스크립트', '가격': 24000}]

In [256]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key=lambda book:book['가격']))

print("가장 비싼 책")
print(max(books, key=lambda x:x['가격']))

print("#가격 오름차순으로 정렬")
books.sort(key= lambda x:x['가격'])
for book in books:
    print(book)    
print("#가격 내림차순으로 정렬")

books.sort(key=lambda x: x['가격'], reverse=True)
for book in books:
    print(book)

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
가장 비싼 책
{'제목': '혼공파', '가격': 118000}
#가격 오름차순으로 정렬
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼공파', '가격': 118000}
#가격 내림차순으로 정렬
{'제목': '혼공파', '가격': 118000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}

In [231]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key= lambda book : book['가격']))

print("가장 비싼 책")
print(max(books, key= lambda book : book['가격']))

print("#가격 오름차순으로 정렬")
books.sort(key = lambda book :book['가격'])
for book in books:
    print(book)
    
print("#가격 내림차순으로 정렬")
books.sort(key=lambda book : book['가격'], reverse=True)
for book in books:
    print(book)

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
가장 비싼 책
{'제목': '혼공파', '가격': 118000}
#가격 오름차순으로 정렬
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼공파', '가격': 118000}
#가격 내림차순으로 정렬
{'제목': '혼공파', '가격': 118000}
{'제목': '혼자공부하는 머신러닝+딥러닝', '가격': 26000}
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}

In [174]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key=lambda book : book['가격']))

print("가장 비싼 책")
print(max(books, key = lambda book : book['가격']))

print("#가격 오름차순으로 정렬")
books.sort(key = lambda book:book['가격'])
for book in books:
    print(f"{book['제목']} : {book['가격']}")
    
print("#가장 저렴한 순대로 정렬")
books.sort(key=lambda book:book['가격'], reverse=True)
for book in books:
    print(f"{book['제목']} : {book['가격']}")

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
가장 비싼 책
{'제목': '혼공파', '가격': 118000}
#가격 오름차순으로 정렬
혼자 공부하는 자바스크립트 : 24000
혼자공부하는 머신러닝+딥러닝 : 26000
혼공파 : 118000
#가장 저렴한 순대로 정렬
혼공파 : 118000
혼자공부하는 머신러닝+딥러닝 : 26000
혼자 공부하는 자바스크립트 : 24000

In [106]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key = lambda book:book["가격"]))

print("가장 비싼 책")
print(max(books, key = lambda book : book['가격']))

print("#가격 오름차순으로 정렬")
books.sort(key = lambda book : book['가격'])
for book in books:
    print(f"{book['제목']} : {book['가격']}")
    
print("#가격 내림차순으로 정렬")
books.sort(key=lambda book:book['가격'],reverse = True)
for book in books:
    print(f"{book['제목']} : {book['가격']}")

#가장 저렴한 책
{'제목': '혼자 공부하는 자바스크립트', '가격': 24000}
가장 비싼 책
{'제목': '혼공파', '가격': 118000}
#가격 오름차순으로 정렬
혼자 공부하는 자바스크립트 : 24000
혼자공부하는 머신러닝+딥러닝 : 26000
혼공파 : 118000
#가격 내림차순으로 정렬
혼공파 : 118000
혼자공부하는 머신러닝+딥러닝 : 26000
혼자 공부하는 자바스크립트 : 24000

In [ ]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key = lambda bok:bok["가격"]))
print()

# print("가장 비싼 책")
# print(max(books, key= lambda book:book["가격"]))

print("#가격 오름차순으로 정렬")
books.sort(key=lambda book:book["가격"])
for book in books:
    print(book)
    
print("#가격 내림차순으로 정렬")
books.sort(key=lambda book:book["가격"], reverse=True)
for book in books:
    print(book)

In [ ]:
# lambda 이용
books = [{
    "제목" : "혼공파",
    "가격" : 118000
},{
    "제목" : "혼자공부하는 머신러닝+딥러닝",
    "가격" : 26000
},{
    "제목" : "혼자 공부하는 자바스크립트",
    "가격" : 24000
}]

print("#가장 저렴한 책")
print(min(books, key=lambda book : book['가격']))

print("#가장 비싼 책")
print(max(books, key=lambda book : book['가격']))

print("#가격 오름차순으로 정렬")
books.sort(key=lambda book:book['가격'])
for book in books:
    print(book)
    

print("#가격 내림차순으로 정렬")
books.sort(key=lambda book:book['가격'],reverse=True)
for book in books:
    print(book)
# books.sort(key=lambda book:book["가격"], reverse=True)
# for book in books:
#     print(book)